/* filepath: /E:/Software Development/amkeni_malindi/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Heading */
@font-face {
  font-family: "DM Serif Display";
  src: url(./assets/Fonts/DMSerifDisplay-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Subheadings */
@font-face {
  font-family: "PT Serif";
  src: url(./assets/Fonts/PTSerif-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url(./assets/Fonts/PTSerif-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Body text */
@font-face {
  font-family: "DM Sans";
  src: url(./assets/Fonts/DMSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url(./assets/Fonts/DMSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Buttons and Links */
@font-face {
  font-family: "PT Sans";
  src: url(./assets/Fonts/PTSansNarrow-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
}

@layer base {
  h1:not([class]) {
    @apply h2-text tracking-widest xl:tracking-wide;
  }

  h2:not([class]) {
    @apply h3-text tracking-wider xl:tracking-normal;
  }

  h3:not([class]) {
    @apply h4-text tracking-wide xl:tracking-tight;
  }

  h4:not([class]) {
    @apply h5-text text-muted;
  }

  img:not([class]) {
    @apply w-full my-4 md:inline-block md:w-[45%] md:mx-2;
  }

  p:not([class]) {
    @apply body-text;
  }

  ul:not([class]) {
    @apply list-disc list-inside indent-2;
  }

  li:not([class]) {
    @apply body-text mb-2 xs:mb-4;
  }

  a:not([class]):nth-child(2) {
    @apply m-2;
  }
}

.hover-text {
  @apply hover:text-primary cursor-pointer;
}

.body-text {
  @apply font-bodyText text-[12px] xs:text-[14px] sm:text-base lg:text-lg;
}

.h1-text {
  @apply font-heading py-2 text-4xl md:text-5xl lg:text-6xl ;
}

.h2-text {
  @apply font-subheading font-bold py-2 text-2xl md:text-4xl lg:text-5xl;
}

.h3-text {
  @apply font-subheading py-2 font-bold text-lg xs:text-2xl md:text-3xl lg:text-4xl;
}

.h4-text {
  @apply font-subheading py-1 text-lg xs:text-xl md:text-2xl lg:text-2xl;
}

.h5-text {
  @apply font-subheading py-2 text-base md:text-xl;
}

.active {
  @apply text-primary;
}

.input-style {
  @apply outline outline-1 px-1 body-text rounded-sm outline-primary focus:outline-green-500;
}

.legend {
  @apply pb-2 h4-text;
}

.button-text {
  @apply font-button-links text-[14px] text-white xs:text-base lg:text-base;
}

.button-type {
  @apply py-1 px-2 rounded-2xl xs:py-2 xs:px-3 lg:py-0 lg:px-2 xl:py-1 xl:px-2;
}

.rainbow {
  @apply absolute flex items-center justify-center rounded-full w-[100px] h-[100px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/4;
  clip-path: inset(0 0 50% 0);
}

.rainbow:before {
  content: "";
  @apply absolute w-[80px] h-[80px] rounded-full animate-spinCustom;
  box-shadow: 0 0 0 4px #f22613 inset, 0 0 0 8px #f89406 inset,
    0 0 0 12px #f9bf3b inset, 0 0 0 16px #2ecc71 inset, 0 0 0 20px #19b5fe inset,
    0 0 0 24px #663399 inset, 0 0 0 28px #bf55ec inset;
  clip-path: inset(0 0 50% 0);
}

.rainbow:after {
  content: "";
  @apply absolute w-[10px] h-[10px] rounded-full;
  box-shadow: -40px -2px 0 1px #ffffff, -35px -6px 0 1px #ffffff,
    -30px -2px 0 1px #ffffff, -30px -8px 0 1px #ffffff, -25px -2px 0 1px #ffffff,
    -25px -8px 0 1px #ffffff, -20px -6px 0 1px #ffffff, -15px -2px 0 1px #ffffff,
    40px -2px 0 1px #ffffff, 35px -6px 0 1px #ffffff, 30px -2px 0 1px #ffffff,
    30px -8px 0 1px #ffffff, 25px -2px 0 1px #ffffff, 25px -8px 0 1px #ffffff,
    20px -6px 0 1px #ffffff, 15px -2px 0 1px #ffffff;
}

@layer utilities {
  @keyframes bounce-rainbow {
    0%,
    100% {
      transform: translateY(0) scale(1);
    }
    80% {
      transform: translateY(-15px) scale(1.5);
    }
  }

  .rainbow-bounce {
    animation: bounce-rainbow 1s infinite;
  }

  /* Custom delays */
  .delay-0 {
    animation-delay: 0s;
  }
  .delay-1 {
    animation-delay: 0.1s;
  }
  .delay-2 {
    animation-delay: 0.2s;
  }
  .delay-3 {
    animation-delay: 0.3s;
  }
  .delay-4 {
    animation-delay: 0.4s;
  }
  .delay-5 {
    animation-delay: 0.5s;
  }
  .delay-6 {
    animation-delay: 0.6s;
  }
  .delay-7 {
    animation-delay: 1s;
  }
}

.rainbow-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #84caea;
  z-index: 100;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.rainbow-spinner-container.fade-out {
  opacity: 0;
  pointer-events: none;
}